.default-button {
    background: none;
    border: none;
}

.default-button .shape {
    stroke-dasharray: 140 540;
    stroke-dashoffset: -474;
    stroke-width: 2px;
    stroke: rgb(217, 119, 6);
    transition: stroke-width 0.5s,
    stroke-dashoffset 0.5s,
    stroke-dasharray 0.5s;
}

.default-button text {
    cursor: pointer;
    font-size: 1rem;
    z-index: 1;
    fill: #c0c0c0;
}

.default-button text:hover {
    fill: white;
}

.default-button svg:hover .shape {
    stroke-width: 1px;
    stroke-dashoffset: 0;
    stroke-dasharray: 760;
}

.rectangle-button .shape {
    stroke-dasharray: 140 540;
    stroke-dashoffset: -474;
    stroke-width: 8px;
    fill: transparent;
    stroke: rgb(217, 119, 6);
    border-bottom: 5px solid black;
    transition:
            stroke-width 1s,
            stroke-dashoffset 1s,
            stroke-dasharray 1s;
}

.rectangle-button svg:hover .shape {
    stroke-width: 2px;
    stroke-dashoffset: 0;
    stroke-dasharray: 760;
}
