.container {
  text-align: center;
}

.main {
  height: 100%;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

/* resize for mobile */
.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 25%;
  left: 50%;
  color: white;
}

.title,
.description {
  text-align: center;
  font-family: sans-serif;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 25%;
  left: 50%;
  color: white;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.span {
  color: rgb(255, 145, 0);
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 100%;
}

.card {
  margin: 1rem;
  margin-bottom: 2rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  background-color: white;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.backgroundVideo {
  width: 100vw;
  object-fit: cover;
  position: fixed;
  z-index: -1;
  opacity: 95%;
  top: 0;
  left: 0;
}

.socials {
  width: 20px;
  margin: 10px;
  background: none;
  color: white;
  border: none;
}

.socialsDiv {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}

.socials:hover{
  opacity: 0.7;
}