.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
}

.title {
  color: white;
  font-size: 3rem;
}

.description {
  color: lightgray;
  margin: 0.5vh 5vw 5vh;
  font-size: 1.125rem;
  max-width: 800px;
}

.span {
  color: rgb(255, 145, 0);
}

@media (min-width: 960px) {
  .title {
    font-size: 5rem;
    margin: 1.5vh 5vw;
  }

  .description {
    font-size: 1.5rem;
    margin: 0.5vh 5vw 5vh;
  }
}