.socialsContainer {
    display: flex;
    align-items: center;
}

.socials {
    width: 2rem;
    height: auto;
    margin: 3vw;
    color: white;
    border: none;
}

.socials:hover {
    opacity: 0.7;
}