.socialsContainer {
    display: flex;
    align-items: center;
}

.socials {
    display: flex;
    width: 2vw;
    margin: 1vw;
    color: white;
    border: none;
}

.socials:hover {
    opacity: 0.7;
}